In [1]:
import numpy as np

from bokeh.io import curdoc
from bokeh.layouts import row, widgetbox
from bokeh.models import ColumnDataSource
from bokeh.models.widgets import Slider, TextInput
from bokeh.plotting import figure

In [2]:
import pandas as pd
df=pd.read_csv("FB.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084 entries, 0 to 1083
Data columns (total 7 columns):
Date         1084 non-null object
Open         1084 non-null float64
High         1084 non-null float64
Low          1084 non-null float64
Close        1084 non-null float64
Adj Close    1084 non-null float64
Volume       1084 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 59.4+ KB

In [4]:
df.shape

(1084, 7)

In [5]:
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2013-12-31  54.119999  54.860001  53.910000  54.650002  54.650002  43076200
1  2014-01-02  54.830002  55.220001  54.189999  54.709999  54.709999  43195500
2  2014-01-03  55.020000  55.650002  54.529999  54.560001  54.560001  38246200
3  2014-01-06  54.419998  57.259998  54.049999  57.200001  57.200001  68852600
4  2014-01-07  57.700001  58.549999  57.220001  57.919998  57.919998  77207400

In [6]:
#### We need only date , close and volume
df=df[['Date','Close','Volume']]

In [7]:
df=df[df['Date']>'2017-01-01']

In [8]:
df.head()

           Date       Close    Volume
757  2017-01-03  116.860001  20663900
758  2017-01-04  118.690002  19630900
759  2017-01-05  120.669998  19492200
760  2017-01-06  123.410004  28545300
761  2017-01-09  124.900002  22861600

In [9]:
df.shape

(327, 3)

In [10]:
df['Date']=pd.to_datetime(df['Date'])

In [11]:
from bokeh.charts import Area, show, output_file,Line
from bokeh.plotting import figure
from bokeh.layouts import row, widgetbox
from bokeh.io import curdoc
from bokeh.models.widgets import Slider, TextInput

In [12]:
#text = TextInput(title="title", value='Facebook Graph')
#def update_title(attrname, old, new):
 #   plot.title.text = text.value
#text.on_change('value', update_title)

In [13]:
source = ColumnDataSource(df)

p = figure(x_axis_type="datetime", x_axis_label='Date' , y_axis_label='Stock price ($)' ,plot_width=800, plot_height=350)
p.line('Date', 'Close', source=source)

#inputs = widgetbox(text)
#curdoc().add_root(row(inputs, p, width=800))

output_file("ts.html")
show(p)